.wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 520px;
}

canvas {
  /* position: absolute; */
}

.canvas {
  min-width: 520px;
  margin-left: auto;
}

#game-area,
#grid-area {
  border: 1px solid black;
  margin: 5px;
  position: absolute;
}

#game-area {
  z-index: 2;
}
#grid-area {
  z-index: 1;
}

#score {
  min-width: 200px;
  border: 1px solid blue;
  margin-top: 5px;
  margin-right: auto;
  padding: 0px 10px;
  height: 500px;
}
